.arena-page{
  margin: 20px;
  width: 97%;
  height: auto;
}
.arena {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 30px;

  &__players {
    display: flex;
    border: 1px solid black;
  }
}