.arena-page{
  margin: 20px;
  width: 97%;
  height: auto;
}
.arena {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;

  &__players {
    display: flex;
  }
}