.arena-page{
  margin: 20px;
  width: 97%;
  height: auto;
}

.arena {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-image: url('../../../public/background-arena.jpeg');
  background-repeat: no-repeat;
  background-size: cover;

  &__players {
    display: flex;
    border: 1px solid black;
  }
}