@import "../../styles/variables";

.pokemon-presentation-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0.1rem $text-color;
    border-radius: 1rem;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    padding: 1.5rem;
    margin: 1rem;
    min-height: 20rem;
    width: 90%;
    background-color: $card-background;
    justify-content: center;
    color:$text-color;
}

.pokemon-presentation-card__image {
    width: 20rem;
}

.image__image {
    width: 100%;
}

.pokemon-presentation-card__name {
    margin: 1rem;
    font-size: 2.5rem;
}
.pokemon-presentation-card__id {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.pokemon-presentation-card__stat {
    color: $alt-color;
    font-size: 1.5rem;
}

.pokemon-presentation-card__moves {
    width: 60%;
    margin: 1rem;
    text-align: center;
}

.pokemon-presentation-card__slot {
    color: $alt-color;
    font-size: 1.5rem;
}