@import "../../../styles/variables";

.not-found-page {
  width: 97%;
  height: auto;
}
.nav-link{
  color: $main-color;
  text-decoration: inherit;
  font-size: 30px;
  &:hover{
    cursor: pointer;
  }
}

.not-found-page{
  margin: 20px;
}