.menu-moves {
  width: 300px;  
  height: 100%;  
  display: flex;
  border: 1px solid black;

  &__left {
    width: 150px; 
    background-color: white;
  }  

  &__right {
    display: flex;    
    flex-wrap: wrap;
  }  
}

.btn {
  width: 100px;
  height: 30px;
  margin: 3px;
  border-radius: 13px;
  text-align: center;
  cursor: pointer;  

  &--fight {
    background-color: pink;
  }

  &--bag {
    background-color: orange;    
  }

  &--pokemon {
    background-color: green;    
  }

  &--run {
    background-color: blue;
  }
}







