.battery {
  width: 300px;
  height: 120px;
  background-color: white;
  border: purple 4px double;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cell {
  width: 24%;
  height: 98%;
  background-color: #acf1d7;}

body, main {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}