.pokemon {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;

  &__info {
    padding: 10px;
    width: 350px;
    height: 75px;  
    margin: 5px;
    color:black;
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    background-color: blanchedalmond;
  }

  &__name {
    margin-bottom: 3px;
  }

  &__moves {
    width: 350px;  
    height: fit-content;  
    display: flex;
    justify-content: center;
    align-items: center;
  
    &__attacks-list {
      width: 100%;
      height: 65%;
      display: flex;    
      flex-wrap: wrap;
    }  
  }

  &__item {
    display: inline;  
  } 
}

.btn {
  width: 151px;
  height: 70px;
  border-radius: 13px;
  text-align: center;
  cursor: pointer;  
}

.health-bar {
  width: 210px;
  height: 23px;
  align-self: flex-end; 
  margin-right: 3px; 
}

.own-health {
  width: 100%;
  background-color: green; 
  border-radius: 13px;
}

.opponent-health {
  width: 100%;
  background-color: green; 
  border-radius: 13px;
}