.pokemon {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;

  &__info {
    width: 300px;
    height: 65px;  
    color:black;
    background-color: blanchedalmond;
  }
}

