$main-color:#f00;
$alt-color:#e5d02b;
$text-color: #000;
$background-light-mode: #ddd;
$background-night-mode: #333;
$text-color-light-mode: #111;
$text-color-night-mode: #ddd;
$card-background:hsl(0, 2%, 42%); 