@import "../../styles/variables";

.main-footer-container{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
}

.footer-text {
  text-align: center;
  color:$text-color;
  font-size: large;
  margin-left: 10px;
}