@import "../../../styles/variables";

.main-footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  width: 100%;
  height: 50px;
}

.footer-text{
  color:$text-color;
  font-size: large;
}