body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.progress-bar {
    height: 2rem;
    width: 0%;
    background-color: #9034AA;
}
button {
    margin: 2rem;
    height: 2rem;
    width: 15%;
    background-color: #5b34aa;
    color: white;
    border-radius: 2rem;
    border: transparent;
}