body {
    font-family: 'Courier New', Courier, monospace;
}

.progress-bar-front {
    margin: 10px 0;
    height: 20px;
    width: 200px;
    border: 1px solid black;
    background-color: whitesmoke;
}

.progress-bar-back {
    background-color: yellow;
}